<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="homepage_carousel">
    <div class="carousel slide homepage-carousel" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="3000">
                <div class="w-100 carousel-item-content">
                    <img src="../public/images/placeholder-image-xxl.jpg" th:src="@{images/placeholder-image-xxl.jpg}"
                         class="carousel-img" alt="">
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </div>
            <div class="carousel-item" data-interval="3000">
                <div class="w-100 carousel-item-content">
                    <img src="../public/images/placeholder-image-xxl.jpg" th:src="@{images/placeholder-image-xxl.jpg}"
                         class="carousel-img" alt="">
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="carousel-item" data-interval="3000">
                <div class="w-100 carousel-item-content">
                    <img src="../public/images/placeholder-image-xxl.jpg" th:src="@{images/placeholder-image-xxl.jpg}"
                         class="carousel-img" alt="">
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
